/*****************************************
 WEB FONTS
 *****************************************/

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/abolition-regular-webfont.woff') format('woff'),
  url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}



/*****************************************
 BASE STYLES
 *****************************************/

* {
  box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 5.625rem; /* 90px / 16px */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  margin: 12px 0 0;
}

h2 {
  font-size: 53px;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: .5em; /* 26px / 53px */
}

h3 {
  font-size: 20px;
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px / 20px */
}

img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid #ffa949;
}



/*****************************************
 MAIN STYLES
 *****************************************/

.main-header {
  padding-top: 170px;
  height: 850px;
  background: linear-gradient(#ffa949, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              #ffa949 url('../img/mountains.jpg') no-repeat center;
  background-size: cover;
}

.title {
  color: white;
  font-size: 1.625rem; /* 26px / 16px */
  letter-spacing: .065em;
  font-weight: 200;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

.primary-content,
.main-header {
  text-align: center;
}

.t-border {
  border-top: 2px solid lightgrey;
}

.secondary-content {
  padding-top: 80px;
  padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e6;
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

/* Pseudo-classes */

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: #add8e6;
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}

:focus {
  color: white;
  background-color: #ffa949;
}



/*****************************************
 LAYOUT STYLES
 *****************************************/

.primary-content,
.secondary-content,
.footer {
  width: 75%;
  max-width: 900px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
}

.footer {
  text-align: center;
}

.wildlife {
  color: white;
  text-align: left;
  padding: 18% 24%;
  border-top: 10px solid #ffa949;
  margin: 105px 0 60px;
  background: #434a52 url('../img/bear.jpg') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, 1);
  border-radius: 10px;
}

.arrow {
  width: 50px;
  margin-top: 150px;
}



/*****************************************
 FLOATED COLUMNS
 *****************************************/

.resorts,
.tips {
  width: 46.5%;
}

.tips {
  float: right;
}

.resorts {
  float: left;
}



/*****************************************
 FLOAT CLEARFIX
 *****************************************/

.group:after {
  content: "";
  display: table;
  clear: both;
}



/*****************************************
 MEDIA QUERIES
 *****************************************/

@media (max-width: 1024px) {
  .primary-content,
  .secondary-content {
    width: 90%;
  }
  .wildlife {
    padding: 10% 12%;
    margin: 50px 0 20px;
  }
}

@media (max-width: 768px) {
  .primary-content,
  .secondary-content {
    width: 100%;
    padding: 20px;
    border-top: none;
  }
  .main-header {
    max-height: 380px;
    padding: 50px 25px 0;
  }
  .title {
    font-size: 1.3em;
    border: none;
  }
  h1 {
    font-size: 5rem;
    line-height: 1.1;
  }
  .arrow {
    display: none;
  }
  .intro {
    font-size: 1rem;
  }
  .resorts,
  .tips {
    float: none;
    width: 100%;
  }
  .main-footer {
    padding: 20px 0;
  }
}



/*****************************************
 ATTRIBUTE SELECTORS
 *****************************************/

.form-contact {
  padding: 20px 24px;
  background: #f4f7f8;
}

#container {
  max-width: 500px;
  margin: auto;
}

input[type="email"] {
  background: #fdfee6;
}

a[target="_blank"] {
  color: #39add1;
  text-decoration: none;
  border-bottom: 1px dotted;
}



/*****************************************
 DRY CLASSES
 *****************************************/

.br {
  border-radius: .5em;
}

.avatar {
  display: block;
  margin: 0 auto 2em;
}

.rounded {
  border-radius: 50%;
}

.btn {
  cursor: pointer;
  font-size: .875em;
  font-weight: 400;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

.btn:hover {
  opacity: 0.75;
}

.default {
  background-color: #52bab3;
}

.error {
  background-color: #ff784f;
}

@media (min-width: 769px) {
  .inln {
    width: auto;
    display: inline-block;
  }
}



/*****************************************
 COMBINATORS
 *****************************************/

form > a {
  font-size: .7em;
}

.btn + .btn {
  margin-left: 20px;
}

h1 ~ label {
  background: tomato;
  color: white;
  padding: 5px;
}



/*****************************************
 STRUCTURAL PSEUDO-CLASSES
 *****************************************/

.nunito-list li:first-child {
  background: #52bab3;
  color: white;
}

.nunito-list li:last-child {
  border: none;
}

.nunito-list span:only-child {
  color: #52bab3;
  font-size: 1.5em;
}

.nunito-list :empty {
  background-color: tomato;
}



/*****************************************
 SUBSTRING MATCHING ATTRIBUTE SELECTORS
 *****************************************/

.gallery a[href^="http:"] {
  color: #52bab3;
  text-decoration: none;
}

.gallery a[href$=".pdf"] {
  background-image: url('../img/icn-pdf.svg');
}

.gallery a[href$=".jpg"] {
  background-image: url('../img/icn-picture.svg');
}

.gallery a[href$=".zip"] {
  background-image: url('../img/icn-zip.svg');
}

.gallery a[href*="downloads"] {
  background-repeat: no-repeat;
  background-size: 17px 17px;
  padding-left: 25px;
}

.gallery img[src*="thumb"] {
  margin: 4px;
  border: solid 2px;
  border-radius: 0;
  width: 180px;
  height: 140px;
}

.gallery img[src*="lake"] {
  border-color: red;
}



/*****************************************
 UI ELEMENT STATES PSEUDO-CLASSES
 *****************************************/

.contact2 input:focus,
.contact2 textarea:focus {
  border-color: #52bab3;
}

.contact2 input:disabled {
  background: #ddd;
}

.contact2 input[type="checkbox"]:checked + label {
  font-weight: bold;
}



/*****************************************
 :NTH-CHILD PSEUDO-CLASSES
 *****************************************/

.nunito-list2 li:nth-child(even) {
  background: #52bab3;
  color: white;
}

.nunito-list2 li:nth-child(3n+3) {
  background: #52cab3;
  color: white;
}

.nunito-list2 li:nth-child(3n) {
  color: red;
}

.nunito-list2 li:nth-child(-n+3) {
  font-weight: bold;
}



/*****************************************
 STRUCTURAL PSEUDO-CLASSES
 *****************************************/

.nunito-list3 div:nth-of-type(even) {
  background: #52bab3;
  color: white;
}

.nunito-list3 div:nth-last-of-type(2) {
  color: tomato;
}



/*****************************************
 ROOT & TARGET & NOT
 *****************************************/

:root {
  background: #e3effb;
}

:target {
  background: #384047;
  color: white;
}

#col-c:target {
  background: #eff1f2;
  color: initial;
  box-shadow: 0 0 6px rgba(0,0,0, .2);
}

#columns input:not([type="submit"]) {
  box-shadow: inset 0 2px 0 rgba(0,0,0, .15);
}

#columns .col:not(:first-child),
#columns nav a:not(:first-child)
{
  margin-left: 15px;
}



/*****************************************
 FIRST-LINE & FIRST-CHARACTER
 *****************************************/

.gallery2 .intro::first-line {
  font-weight: bold;
  font-size: 1.4em;
}

.gallery2 .intro::first-letter {
  float: left;
  font-size: 80px;
  color: white;
  padding: 5px 10px;
  background: #384047;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  line-height: 1;
}



/*****************************************
 BEFORE & AFTER
 *****************************************/

.gallery2 .jpg::before {
  content: url(../img/icn-picture2.svg);
  margin-right: 8px;
}

.gallery2 .zip::before {
  content: url(../img/icn-zip2.svg);
  margin-right: 8px;
}

.gallery2 h1::before,
.gallery2 h1::after
{
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: coral;
  margin: 0 10px;
}

.gallery2 .d-loads a::after {
  content: attr(href);
  display: inline-block;
  color: initial;
  font-size: .65em;
  margin-left: 5px;
}



/*************************/
.card {
  position: relative;
}
.hidden {
  display: none;
}
.active {
  background: #585bab;
  color: white;
  font-weight: bold;
}
.table-body {
  margin: auto;
}
.table-body th,
.table-body td {
  padding: 10px;
  text-align: left;
  width: 20%;
}
.table-body thead tr {
  background: #808080;
  color: white;
}
.table-body tr:nth-child(even) {
  background: lightgrey;
}