<div class="table-1">

  <h1>My Table</h1>

  <table class="table-body">

    <tr>
      <th scope="col">Name</th>
      <th scope="col">E-mail</th>
      <th scope="col">Job role</th>
    </tr>
    <tr>
      <th scope="row">Peter</th>
      <td>peter@gmail.com</td>
      <td>Translator</td>
    </tr>
    <tr>
      <th scope="row">Dave</th>
      <td>dave@gmail.com</td>
      <td>Developer</td>
    </tr>
    <tr>
      <th scope="row">Bob</th>
      <td>bob@gmail.com</td>
      <td>Writer</td>
    </tr>


  </table>

</div>